<form [formGroup]="userForm">
  <app-form-card
    header="Criar Novo Usuário"
    description="Preencha os campos abaixo para criar um novo usuário"
    [loading]="submitting || loading"
    [loadingData]="loading"
    (handleSave)="onSubmit()"
    (handleCancel)="cancel()"
    cancelText="Voltar"
    submitText="{{ isEditMode ? 'Salvar dados' : 'Criar usuário' }}"
  >
    <app-input
      type="text"
      label="Nome"
      placeholder="Nome completo"
      formControlName="username"
      [errorMessage]="formService.getFormErrorMessage(userForm.get('username'))"
      id="username-input"
    ></app-input>

    <app-input
      label="E-mail"
      placeholder="exemplo@exemplo.com"
      type="email"
      formControlName="email"
      [errorMessage]="formService.getFormErrorMessage(userForm.get('email'))"
      id="email-input"
    ></app-input>

    <app-input
      *ngIf="!isEditMode"
      label="Senha"
      placeholder="••••••••"
      type="password"
      formControlName="password"
      [errorMessage]="formService.getFormErrorMessage(userForm.get('password'))"
      id="password-input"
    ></app-input>
  </app-form-card>
</form>
